@import './base.css';

:root {
  --color-text: #1a2535;
}


html {
  --vari1: #5597b3;
  --vari2: #e8f4f8;
  --vari3: #bdd9e8;
  --vari4: #d0e8f2;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.actions {
  margin-top: .8rem;
  display: flex;
  justify-content: space-between;
}

.return {
  background-color: #c2b5b5;
}

button.dq::before {
  content: '🚫';
  padding-right: .3rem;
  color: transparent;
  text-shadow: 0 0 0 black;
}

.un-dq {
  background-color: maroon;
  color: #ddd;
}
.un-dq::before {
  content: '🚫';
  padding-right: .3rem;
  color: transparent;
  text-shadow: 0 0 0 #ddd;
}

.next {
  background-color: #3a7a96;
}



a, .green {
  text-decoration: none;
  color: hsl(46, 48%, 87%);
  transition: 0.4s;
}

.action {
  font-size: 120%;
  padding: .25rem;

  &.danger {
    background-color: darkred;
    color: #eee
  }

}


@media (hover: hover) {
  a:hover {
    background-color: hsla(147, 9%, 81%, 0.2);
  }
}
